<footer>
    <p>This app was developed for educational reasons only, no real money is involved.</p>
</footer>
</body>

<script src="/scripts/main.js"></script>
<script src="/scripts/Casino.js"></script>
</html>