<html>
    <head>
        <title>99bet - Games</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/games.css">
    </head>
    <body>
        <%- include('header'); %>
        
        <div id="wrapper">
            <h3>Games:</h3>
            <ul id="games-list">
                <li><a href="/games/climbtovictory">ClimbToVictory</a></li>
            </ul>
        </div>

        <%- include('footer'); %>
    </body>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/Casino.js"></script>
</html>