<header>
    <h1>99bet</h1>
    <h4>The best place to lose money!</h4>
    <div id="nav-flex">
        <p id="balance">Balance: <span id="balance-field"><%= balance %></span></p>
        <div id="nav-items">
            <a href="/home">Home</a>
            <a href="/games">Games</a>
            <a>////</a>
            <a>////</a>
            <a>////</a>
            <a>////</a>
        </ul>
    </div>
</header>