<html>
    <head>
        <title>Casino - Home</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('header', {balance: balance}); %>
        
        <div id="wrapper">
            <h1>Home</h1>
            <p>Welcome to the best casino online.</p>
            <p>Go and have fun!</p>
        </div>

        <%- include('footer'); %>
    </body>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/Casino.js"></script>
</html>