<html>
    <head>
        <title>99bet - Home</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <%- include('header', {balance: balance}); %>
        
        <div id="wrapper">
            <h1>Home</h1>
            <p>Welcome, go lose your noney!</p>
            <p>What are you waiting for?!?</p>
        </div>
    </body>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/Casino.js"></script>
</html>